ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - grafana.local
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.local

adminPassword: "admin"

service:
  type: ClusterIP