alertmanager:
  enabled: false

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - prometheus.local
    tls:
      - secretName: prometheus-tls
        hosts:
          - prometheus.local